---
interface Props {
    text: string;
    imageURL: string;
    details: string;
}
const { text = "", imageURL = "", details = "" } = Astro.props;
const imageStyle = {
    backgroundImage: `url(/images/${imageURL})`,
};
---

<div
    class="bg-cover bg-center bg-gray-700 bg-blend-multiply relative group p-6 sm:p-8 flex flex-col justify-end min-h-[18rem] sm:min-h-[22rem]"
    style={imageStyle}
>
    <h2
        class="text-white uppercase text-3xl sm:text-4xl italic transition-opacity duration-500 opacity-100 md:group-hover:opacity-0"
    >
        {text}
    </h2>
    <p
        class="text-white text-base sm:text-xl leading-relaxed mt-3 transition-opacity duration-500 opacity-100 md:opacity-0 md:group-hover:opacity-100"
    >
        {details}
    </p>
</div>
