---
import ImageCard from "./ImageCard.astro";
const offers = [
    {
        imageURL: "tyre-fitting-and-sales.png.webp",
        offerText: "Tyre Sales and Installation",
        info: "Tyre Sales and Installation: Offering a wide range of tyre brands and sizes, with professional installation to ensure proper fit and performance.",
    },
    {
        imageURL: "TYRE-ALIGNMENT-TYRE-TRACKING.png.webp",
        offerText: "Tyre Balancing and Wheel Alignment",
        info: "Tyre Balancing and Wheel Alignment: Ensuring tyres wear evenly and improve vehicle handling, fuel efficiency, and safety.",
    },
    {
        imageURL: "puncture-repairs-edenderry.png.webp",
        offerText: "Repairs and Maintenance",
        info: "Tyre Repairs and Maintenance: Services like puncture repairs, rotation, and tread inspections to extend tyre life and maintain optimal driving conditions.",
    },
];
---

<section class="py-12">
    <div class="mx-auto max-w-screen-xl px-4 text-center">
        <h1 class="yellowText text-4xl sm:text-5xl italic uppercase">
            What we offer
        </h1>
        <p class="text-white mt-3 max-w-2xl mx-auto">
            We're committed to deliver top-tier tyres and exceptional service that
            keep you safe and satisfied
        </p>
    </div>

    <div class="mx-auto max-w-screen-xl px-4 mt-8 grid grid-cols-1 md:grid-cols-3 gap-6">
        {
            offers.map((offer) => (
                <ImageCard
                    imageURL={offer.imageURL}
                    text={offer.offerText}
                    details={offer.info}
                />
            ))
        }
    </div>
</section>
